body{
    margin-top: 70px;
    background: #e9eaed;
}

/* source : https://codepen.io/davidelrizzo/pen/vEYvyv */
/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }

#my_facebook {
    font-family: 'Roboto', sans-serif;
    
}

.welcome_page {
    text-align: center;
    max-width: 900px;
    margin: 0px auto 0;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    box-sizing: border-box;
    background-color: #354C8C;
    color: black;
}

.welcome_page > h1 {
    font-size: 30pt;
    font-weight: bold;
    padding-bottom: 15px;
    color: white;
}

.profile {
    max-width: 900px;
    margin: 0px auto 0;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    box-sizing: border-box;    
    background-color: #354C8C;
    color: white;
}

.cover {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.cover img{
    width: 100%;
}

.profile > img.picture {
    border-radius: 50%;
    height: 275px;
    width: 275px;
    border-color: white;
    z-index: 1;
    margin: -150px 10px 0px 50px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.profile > .data {
    margin-left: 39%;
    z-index: 2;
    margin-top: -14%;
    padding-bottom: 20px;
}

.logout {
    background: white;
    color: #354C8C;
    padding: 5px 10px 5px 10px;
    font-size: 14pt;
    float: right;
    margin-right: 20px;
    margin-top: -165px;
}

.status-form {
    max-width: 900px;
    margin: 0px auto 0;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    box-sizing: border-box;    
    background-color: white;
    margin-top: 20px;
}

.status-form {
    padding: 2.5%;
    padding-bottom: 60px;
}

.form-control {
    width: 100%;
    font-size: 12pt;
}

#postInput {
    margin-bottom: 10px;
}

.postStatus {
    background: #3B5998;
    color: #fff;
    font-size: 14pt;
    margin-right: 0px;
    float: right;
}

.feed {
    max-width: 900px;
    margin: 0px auto 0;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    box-sizing: border-box;    
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}