body{
    margin-top: 70px;
 }
 /* Custom navbar style */
 .navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 /* Textarea not resizeable */
 textarea {
    resize:none
 }
 
 .box {
     background-color: #98d4ff;
     border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 #mahasiswa {
    margin-right: 50px;
    margin-left: 20px;
 }

 .btn {
     margin-top: 15px;
 }
