{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <center><h1 style="font-size: 50pt">Portfolio</h1>
    <hr/></center>


    <center><img src="https://cdn2.hubspot.net/hubfs/437097/DTC/09.blog/AdventureTime_characters.jpg" 
    style="border-radius:50%;width: 50%;height: auto"/></center>
    <hr style="border-color: #ff907f" />
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr style="border-color: #ff907f" />
    <section name="about_me">
        <h2>About Me</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr style="border-color: #ff907f" />
    <section name="form">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger" >
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}


        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}

